/* PHASE 1: Header */

body{
  font-family: "Roboto", sans-serif;
}

nav{
  width: 900px;
  margin: 0 auto;
}

nav h1{
  display: inline-block;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  font-weight: 700;
}
nav h1 a{
  display: inline-block;
  padding: 10px 20px;
}

nav ul{
  display: inline-block;
  border-left: 1px solid #CCC;
  float: right;
  /*text-align: right;*/
}
.bundle:after {
  content: "";
  display: block;
  clear:both;
}

nav ul li{
  display: inline-block;
  border-right: 1px solid #CCC;
}

nav ul li
a{
  display: inline-block;
  padding: 10px 20px;
}

nav h1:hover, ul li:hover{
  background: black;
}

.header{
  background: red;
  color: white;
  border-bottom: 1px solid #CCC;
}
