/* PHASE 2: Notifications */
.badge{
  display: inline;
  font-size: 14px;
  padding: 1px 6px;
  background: #000;
  border-radius: 50%;
}
.hasGoodies:hover .dropdown{
  display: block;
}
.notification{
  /*display: none;*/
  display: block;
  padding: 10px 20px;
  color:black;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

ul.dropdown > li:last-child{
  border: 80px solid purple;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.dropdown{
  display: none;
  position: absolute;
  left:-1px;
  top:39px;
}
.dropdown > li:hover .notification{
  background: #eee;
}
