/* PHASE 3: Layout */
.content{
  width: 900px;
  margin: 0 auto;
  position:relative;
  border: 1px solid;
  border-color: rgb(170, 170, 170);
}

.content:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 240px;
    width: 1px;
    background:rgb(170, 170, 170);
}

.content-sidebar{
  width: 200px;
  padding: 20px;
  float: left;
  min-height: 200px;
  height: 100%;
}

.content-main{
  padding: 20px;
  float: right;
  width: 610px;
}
